[Unit]
Description=Fortune web app
After=network.target auditd.service

[Service]
ExecStart=/fortune/venv/bin/gunicorn --chdir=/fortune -b 0.0.0.0:8888 fortune:app
WorkingDir=/fortune
KillMode=process
Restart=on-failure
